{:paths ["src"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.2-alpha1"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}
  biscuit {:git/url "https://github.com/digital-dj-tools/biscuit.git"
           :sha "589d64d839f57b15d7a97eb79501a6079301e4dd"}
  cljs-node-io {:mvn/version "1.1.2"}
  digital-dj-tools/utils {:git/url "https://github.com/digital-dj-tools/utils.git"
                          :sha "a6e97edb71bdba724779c5118811a3cc56d6c877"}
  funcool/octet {:git/url "https://github.com/digital-dj-tools/octet.git"
                 :sha "1f5dedc7254cc75956033c4071ce4ffc1b199ead"}
  metosin/spec-tools {:mvn/version "0.10.0"}
  net.cgrand/macrovich {:mvn/version "0.2.1"}
  nio {:mvn/version "1.0.3"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps {org.clojure/test.check {:mvn/version "0.9.0"}
                              plumula/mimolette {:mvn/version "0.2.1"}
                              org.clojure/tools.namespace {:mvn/version "0.3.1"}}}
           :test {:extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :native-image {:extra-deps {luchiniatwork/cambada {:git/url "https://github.com/xfthhxk/cambada.git"
                                                              :sha "c8a01477c856fc28c53f34aa3f268f8eaf683869"}}
                          :main-opts ["-m" "cambada.native-image"
                                      "-m" "mp3_parser.cli"
                                      "--graalvm-opt" 
                                      "-verbose"
                                      "--graalvm-opt"
                                      "-allow-incomplete-classpath"
                                      "--graalvm-opt"
                                      "-report-unsupported-elements-at-runtime"
                                      "--graalvm-opt"
                                      "J-Xmx4g"]
                          :jvm-opts ["-Dclojure.compiler.direct-linking=true"]}
           :test-cljs {:extra-deps {olical/cljs-test-runner {:mvn/version "3.7.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}
           :compile-cljs {:main-opts ["-m" "cljs.main" "-co" "compile-opts.edn" "-c" "mp3-parser.cli"]}
           :nrepl-server {:extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}
                                       cider/piggieback {:mvn/version "0.4.1"}
                                       com.bhauman/figwheel-main {:mvn/version "0.2.1"}}
                          :main-opts ["-m" "nrepl.cmdline"
                                      "--middleware" "[cider.nrepl/cider-middleware,cider.piggieback/wrap-cljs-repl]"]}
           :outdated {:extra-deps {olical/depot {:mvn/version "1.8.2"}}
                      :main-opts ["-m" "depot.outdated.main"]}}}